body
{
    background-image: url(Img/star3.png);
    background-repeat: repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
nav
{
    text-align: center;
    position: absolute;
    width:100%;  
    height:60px;
    background-color: rgb(230, 218, 150);
}
h1
{
    text-align: center;
}
h2
{
    text-align: center;
    margin-top: 20px;
    font-family: monospace;
}
h3
{
    margin-top: 30px;
    text-align: center;
}
h4
{
    margin-top: 30px;
    text-align: center;
}
h5
{
    margin-top: 30px;
    color: rgb(187, 179, 216);
    text-align: center;
}
label
{
    text-align: center;
}
div.wrapper
{
    /* display: grid; */
    display: none;
    grid-template-columns: repeat(2,3fr);

}
div.weather
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
div.nowweather
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
div.wrappertwoday
{
    margin-top: 50px;
    display: grid;
    border-radius: 10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: repeat(6,2fr);
    grid-column-gap: 50px;
    height: 800px;
}
div.wrapperweek
{
    margin-top: 50px;
    display: grid;
    border-radius: 10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: repeat(7,3fr);
    grid-column-gap: 50px;
    height: 550px;
}
div.wrapper4
{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    grid-column-gap: 100px;
}
div.circle
{
    border-radius: 20px;
}
div.sky
{
    background-image: url(Img/sky.jpg);
}
div.now
{
    /* margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 70px; */
    border-style: groove;
    border-radius: 50px;
    /* margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-right: 20px; */
    height: 480px;
    width: 800px;
    margin: 50px;
    margin-top: 65px;
}
div.select
{
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}
div.topview
{
    text-align: center;
}
div.rain
{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin: 50px;
    height:300px;
}
div.showrain
{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
div.wrapperweek.p
{
    margin-top: 20px;
}
div.label
{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6,1fr);

}
img.now
{
    width: 200px;
    height: 200px;
    /* margin-bottom: 20px; */
}
img.country
{
    border-style: groove;
    border-radius: 50px;
    /* margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-right: 20px; */
    height: 480px;
    width: 800px;
    margin: 50px;
    margin-bottom: 70px;
}
img.wx
{
    width: 220px;
    height: 220px;
}
img.temp
{
    margin-left: 20px;
    width: 100px;
    height: 100px;
}
img.weektemp
{
    margin-left: 20px;
    width: 80px;
    height: 80px;
}
p
{
    color: rgb(187, 179, 216);
    font-size: 20px;
}
p.cImg
{
    color: rgb(55, 72, 199);
    text-align: center;
    font-size: 30px;
}
p.now
{
    color: rgb(185, 206, 240);
    font-size: 40px;
    margin-top: 30px;
}
p.precent
{
    font-size: 30px;
}
p.rain
{
    margin-top: 70px;
    text-align: center;
    font-size: 50px;
    color: rgb(124, 199, 226);
}
button
{
    background-color: rgb(195, 122, 210);
    border-radius: 100px;
}
a.top
{
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-width: 1px;
    border: darkorchid;
}
a
{
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
}